@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Duyuru
@{
    Layout = "_Layout";
  }
<div class="container">
    <div class="p-5">
        <form method="POST">

            <div class="form-group">
                <label for="Baslik">Baslik</label>
                <input asp-for = "Baslik" class="form-control">
            </div>

            <div class="form-group">
                <label for="Ozet">Ozet</label>
                <input asp-for = "Ozet" class="form-control">
            </div>

            <div class="form-group">
                <label  asp-for="Icerik" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea class="form-control" asp-for="Icerik"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary my-3">Gönder</button>

        </form>
    </div>
</div>