<style>
#footer2
{

font-size: 13px;
border: 1px solid #EDEDED;

}
</style>
<footer class="bg-dark text-white p-2" id="footer2">
    <div class="container">
        <p class="mb-0">
        Düzce Üniversitesi Konuralp Yerleşkesi <br>
        81620 DÜZCE - TÜRKİYE <br>
        TEL : 0850 800 81 81 <br>   
        FAKS: 0380 542 11 03 
        </p>
        <p class="text-center">
            © Copyright - Düzce Üniversitesi Teknoloji fakültesi - 2022 - Emre Gündüz
        </p>
    </div>
</footer>